body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $classic-background;
  height: 100vh;

  .content-area-container {
    background-color: $classic-primary;
    height: 500px;
    width: 600px;
    box-shadow: $box-shadow;
    border-radius: 4px;
    color: $light-text;
  }
}
