body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $classic-background;

    .content-area-container {
        background-color: $classic-background;
        min-height: 100vh;
        width: 100%;
        box-shadow: $box-shadow;
        color: $light-text;

        .branding {
            margin: 0 auto;
            width: 280px;

            h1 {
                margin: 0;
                margin-top: 1rem;
            }
        }
    }

    .container {
        border: 1px solid $classic-border;
        width: 278px;
        margin: 0 auto;
    }

    .hidden {
        display: none;
    }
}
