.pomo-timer {
    .display {
        font-weight: bold;
        font-size: 4rem;

        .timer-section {
            position: relative;
            display: flex;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.1);

            button {
                font-family: "RobotoMono";
                flex-grow: 1;
                font-size: 2.4rem;
                color: #888;
                background-color: transparent;
                border: none;
                transition: $transition;

                &:hover,
                &:focus {
                    color: $classic-primary-light;
                    text-shadow: 0 1px 4px $classic-primary-light;
                }
            }

            #timer {
                font-family: "RobotoMono";
                font-size: 6rem;
                text-shadow: 0 2px 0 rgba(255, 255, 255, 0.4);
            }
        }
    }
}
