.pomo-timer {
    .display {
        font-weight: bold;
        font-size: 4rem;

        .timer-section {
            position: relative;
            display: flex;
            justify-content: center;
            padding-top: 4rem;

            button {
                font-family: "RobotoMono";
                flex-grow: 1;
                font-size: 2.4rem;
                color: rgb(131, 48, 48);
                background-color: transparent;
                border: none;
                transition: $transition;
                cursor: pointer;

                &:hover,
                &:focus {
                    color: $classic-primary;
                    text-shadow: 0 1px 4px $classic-primary;
                }
            }

            #timer {
                font-family: "RobotoMono";
                font-size: 4rem;
                user-select: none;
                color: lighten($classic-primary, 60%);
                z-index: 10;
            }

            .analog {
                display: block;
                height: 200px;
                width: 200px;
                border-radius: 100%;
                position: absolute;
                transform: scale(1.4) translateY(-21%) rotate(270deg);
            }

            svg {
                circle {
                    stroke-width: 4px;
                    stroke: darken($classic-primary, 5%);
                }

                #progressBar {
                    stroke-dashoffset: 0;
                    transition: stroke-dashoffset 1s linear;
                    stroke: lighten($classic-primary, 15%);
                    stroke-width: 4px;
                }
            }
        }
    }
    .controls {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 300px;
        padding-top: 5rem;

        #start {
            cursor: pointer;
            padding: 0.4rem 0;
            margin: 1rem;
            border: none;
            border-bottom: 2px solid #000;
            background-color: $classic-primary;
            color: $light-text;
            font-family: Righteous;
            font-weight: bold;
            letter-spacing: 5px;

            &[aria-pressed="true"] {
                box-shadow: none;
                border-bottom: 2px solid darken($classic-primary, 50%);
                letter-spacing: 3px;
            }
        }

        #reset {
            background-color: transparent;
            color: $light-text;
            font-size: 1rem;
            letter-spacing: 5px;
            font-family: Righteous;
            border: none;
            cursor: pointer;

            &:hover,
            &:focus {
                color: rgb(255, 255, 255);
            }
        }
    }
}
