.pomo-timer {
    .display {
        position: relative;
        font-weight: bold;
        padding-top: 1.5rem;
        padding-bottom: 4.8rem;
        padding-top: 4.5rem;

        .timer-section {
            position: relative;
            display: flex;
            justify-content: center;

            button {
                font-family: 'RobotoMono';
                flex-grow: 1;
                font-size: 2.4rem;
                color: $classic-primary;
                background-color: transparent;
                border: none;
                transition: $transition;
                cursor: pointer;
                max-width: 8rem;

                &:hover,
                &:focus {
                    color: lighten($classic-primary, 10%);
                    text-shadow: 0 1px 4px $classic-primary;
                }
            }

            #timer {
                font-family: 'RobotoMono';
                font-size: 3rem;
                user-select: none;
                color: lighten($classic-primary, 60%);
                z-index: 10;
            }

            .analog {
                display: block;
                height: 200px;
                width: 200px;
                border-radius: 100%;
                position: absolute;
                transform: scale(1.1) translateY(-32%) rotate(270deg);
                background-color: rgba(0, 0, 0, 0);
                transition: $transition;
            }

            svg {
                circle {
                    stroke-width: 4px;
                    stroke: darken($classic-primary, 20%);
                }

                #progressBar {
                    stroke-dashoffset: 0;
                    stroke: lighten($classic-primary, 15%);
                    stroke-width: 4px;
                    transition: stroke-dashoffset 1s linear, stroke 200ms linear;
                }
            }
        }
    }

    .settings {
        display: flex;
        flex-direction: column;
        max-width: 280px;
        margin: 0 auto;
        font-family: Righteous, sans-serif;
        font-size: 12px;
        font-weight: 300;
        text-align: center;
        letter-spacing: 2px;
        user-select: none;

        .input-container {
            display: flex;
            justify-content: flex-start;
            padding: 0.4rem 0.1rem;
            border: 1px dotted darken($classic-primary, 12%);
            input {
                margin-right: 0.2rem;
            }
        }
    }

    .controls {
        margin: 0 auto;

        #stateView {
            margin: 0 auto;
            width: 278px;
            border: 1px dotted darken($classic-primary, 12%);
            font-family: Righteous;
            font-weight: 300;
            font-size: 16px;
            letter-spacing: 3px;
            padding: 0.5rem 0;
            margin-top: 2rem;
        }

        .control-row {
            display: flex;
            justify-content: center;

            .control-col {
                display: flex;
                flex-direction: column;
                flex-grow: 0;

                button {
                    width: 140px;
                    height: 3rem;
                    cursor: pointer;
                    padding: 0.3rem 0;
                    border: 1px dotted darken($classic-primary, 12%);
                    background-color: unset;
                    color: $gray-text;
                    font-family: Righteous;
                    font-weight: 300;
                    font-size: 0.8rem;
                    letter-spacing: 3px;
                    transition: $transition;

                    &[aria-pressed='true'] {
                        background-color: $classic-primary;
                    }

                    &:hover {
                        color: $light-text;
                        border: 1px dotted lighten($classic-primary, 12%);
                    }

                    &:active {
                        background-color: $classic-primary;
                    }
                }

                &:last-child {
                    margin-left: -1px;
                }
            }
        }
    }

    &.init {
        #progressBar {
            stroke: lighten($classic-primary, 15%);
        }

        #stateView {
            background-color: rgba($classic-primary, 0.3) !important;
        }
    }
    &.break {
        #progressBar {
            stroke: rgb(128, 106, 252) !important;
        }

        #stateView {
            background-color: rgba(128, 106, 252, 0.3) !important;
        }
    }
    &.finished {
        #progressBar {
            stroke: lighten($classic-primary, 15%);
        }

        #stateView {
            background-color: rgba(37, 255, 121, 0.3) !important;
        }
    }
    &.paused {
        #progressBar {
            stroke: rgb(238, 202, 135) !important;
        }
        #stateView {
            background-color: rgba(238, 202, 135, 0.3) !important;
        }
    }
    &.active {
        #progressBar {
            stroke: rgb(109, 219, 201) !important;
        }

        #stateView {
            background-color: rgba(109, 219, 201, 0.3) !important;
        }
    }
    &.break-active {
        #progressBar {
            stroke: rgb(162, 136, 255) !important;
        }

        #stateView {
            background-color: rgba(162, 136, 255, 0.3) !important;
        }
    }
    &.break-paused {
        #progressBar {
            stroke: rgb(100, 86, 148) !important;
        }

        #stateView {
            background-color: rgba(100, 86, 148, 0.3) !important;
        }
    }
}
