h1 {
    font-family: "Righteous";
    font-size: 1.6rem;
    margin: 0.4rem;
    background-image: linear-gradient(#ffffff, $classic-primary-light);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
