//Colors
$classic-primary: #1c2833;
$classic-primary-light: #95ccff;
$classic-background: #f1f1f1;
$light-text: #ffffff;

//utl
$box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
