//Colors
$classic-primary: #5a2436;
$classic-secondary: #ffffff;
$classic-background: #aaaaaa;
$light-text: #ffffff;
$dark-text: #333333;

//utl
$box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
